*{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: #27292b ;
    color: #ebebeb;
}

.excerciseNameKgProgress {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
    padding: 12px;
}

h1 {
    text-align: center;
}

.gif {
    width: 100%;
    height: 100%;
}

.icon {
    width: 35px;
    height: 35px;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdownbtn {
    width: 20%;
    max-width: 41px;
    max-height: 41px;
}

.line {
    margin-top: 40px;
}

#blackBackground {
  background-color: #000000e3;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#closeModal {
  background-color: #373a3d;
}

#modalKG {
  position: fixed;
  background-color: #373a3d;
  padding: 6px;
  min-width: 80%;
  min-height: 250px;
}


#seguimientoTable {
  width: 100vw;
  max-height: 200px;
  overflow-y: scroll;
  display:block;
	border-collapse: collapse;
	border-spacing: 0;
  
}


td {
  padding: 12px;
  background-color: rgba(255, 0, 0, 0);
}

.modalInput {
  max-width: 40%;
  margin: 6px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #c2c2c2c5;
}

#modalOkBtn {
  padding: 6px;
}

.rowAlreadyClicked {
  background-color: rgb(201, 90, 90);
}

@keyframes slideaway {
  from { display: block;  opacity: 1;}
  to {  opacity: 0;     display: none;}
}

@keyframes slidein {
  from { opacity: 0;     display: none; }
  to {  opacity: 1; display: block;}
}

.hidePRO {
  animation: slideaway 400ms;
}

.showPRO {
  animation: slidein 800ms;
}

/* CSS Checkbox */
.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.5;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #f1f5f9;
  transition: background 250ms;
  border: 1px solid #94a3b8;
  border-radius: 0.2rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: #f1f5f9;
  transition: background 250ms;
  border: 1px solid #94a3b8;
  border-radius: 4.77rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 0.3rem;
  height: 0.6rem;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 3rem;
  background: #ffffff;
  transition: background 250ms;
}

.b-contain input[type="checkbox"]:disabled ~ .b-input::after {
  border-color: #ffffff;
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input[type="checkbox"]:not([disabled]) ~ .b-input,
.b-contain input[type="checkbox"]:focus ~ .b-input {
  background: #e2e8f0;
  border-color: #64748b;
}

.b-contain:hover input[type="radio"]:not([disabled]) ~ .b-input,
.b-contain input[type="radio"]:focus ~ .b-input {
  background: #e2e8f0;
  border-color: #64748b;
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px #60a5fa;
}

.b-contain input[type="checkbox"]:checked ~ .b-input {
  background: rgb(5, 160, 69);
  border-color: rgb(0, 135, 129);
}

.b-contain input[type="radio"]:checked ~ .b-input {
  background: #3b82f6;
  border-color: #1d4ed8;
}

.b-contain input[type="checkbox"]:disabled ~ .b-input,
.b-contain input[type="radio"]:disabled ~ .b-input {
  opacity: 0.5;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
  background: #ffffff;
}

.b-contain:hover input[type="checkbox"]:not([disabled]):checked ~ .b-input,
.b-contain input[type="checkbox"]:checked:focus ~ .b-input {
  background: rgb(0, 135, 129);
  border-color: rgb(0, 97, 94);
}

.b-contain:hover input[type="radio"]:not([disabled]):checked ~ .b-input,
.b-contain input[type="radio"]:checked:focus ~ .b-input {
  background: #2563eb;
  border-color: #1e40af;
}